<p>
  <b>Short url:</b>
  <%=h @post.short_url %>
</p>

<p>
  <b>Note:</b>
  <%=h @post.note %>
</p>

<p>
  <b>Redirect:</b>
  <%=h @post.redirect %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
